src/main/xsd/Account.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Account">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Transaction">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Person">
                <xs:complexType>
                  <xs:attribute name="Firstname" type="xs:string" use="required" />
                  <xs:attribute name="Lastname" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="Date" type="xs:dateTime" use="required" />
            <xs:attribute name="Value" type="xs:double" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="Balance" type="xs:double" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>